body {
    font-family: "Poppins", sans-serif;
}

.nav-link {
    border-radius: 20px;
}

.navbar-nav a:hover {
    background-color: #99c4bc;
    border-radius: 20px;
}

.ventas-diarias {
    color: green;
    font-size: 2em;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}